@import 'buttons.scss';
@import 'sizes.scss';

.AddFilter {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  .labelAndInput {
    display: flex;
  }
  .label {
    margin-top: 9px;
    margin-right: 5px;
  }
  input {
    width: 300px;
    height: 25px;
    font-size: 20px;
    border-radius: 4px;
    padding: 5px 10px;
    border: 1px solid rgba(152, 193, 217, 0.5);

  }
  .inputWrapper {
    @media(max-width: $mobileBreakpoint) {
      display: flex;
    }
  }
  .createFilterButtons {
    display: flex;
    flex-firection: row;
    margin-left: 115px;
    margin-top: 10px;
  }
  .createFilter {
    @include button;
    width: 80px;
    height: 20px;
    margin-right: 10px;
  }
  i {
    margin-right: 5px;
    font-size: 12px;
  }
  .highlighted {
    color: red;
  }
}

.expanded .AddFilter {
  @media(max-width: $mobileBreakpoint) {
    margin-left: 0;

    .labelAndInput {
      flex-direction: column;
    }
    .label {
      margin-bottom: 5px;
    }
  }
}
