@import 'sizes.scss';

body, html, #root, .App {
  height: 100%;
  width: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  background-color: #E0FBFC;
  color: #293241;
  &.compact .FilterPanel {
    background-color: white;
  }
  .WikiFrame {
    flex-grow: 1;
  }

  &.compact .expandedShow {
    display: none;
  }
  &.expanded .compactShow {
    display: none;
  }
}
