body, html, #root, .App {
  height: 100%;
  width: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  background-color: #E0FBFC;
  color: #293241;
}
.App.compact .FilterPanel {
  background-color: white;
}
.App .WikiFrame {
  flex-grow: 1;
}

.App.compact .expandedShow {
  display: none;
}

.App.expanded .compactShow {
  display: none;
}
