body, html, #root, .App {
  height: 100%;
  width: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  background-color: #E0FBFC;
  color: #293241;
}
.App .FilterPanel {
  align-self: left;
  height: 100px;
  min-height: 100px;
}
.App .WikiFrame {
  flex-grow: 1;
}
