@import 'sizes.scss';

body, html, #root, .App {
  height: 100%;
  width: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  background-color: #E0FBFC;
  color: #293241;
  &.compact .FilterPanel {
    background-color: white;
  }

  .FilterPanel {
    flex-shrink: 0;
  }

  &.compact .expandedShow {
    display: none;
  }
  &.expanded .compactShow {
    display: none;
  }
}

.WikiFrame {
  height: 100%;
  iframe {
    height: 100%;
    width: 1px;
    min-width: 100%;
    border: none;
  }

  @media(max-device-width: $mobileBreakpoint) {
    .desktop { display: none; }
  }
  @media(min-device-width: $mobileBreakpoint + 1) {
    .mobile { display: none; }
  }
}
