@import 'colors.scss';

@mixin button {
  display: flex;
  background-color: $medium;
  color: $dark;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  transition: 0.25s;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  &:hover {
    color: $medium;
    background-color: $dark;
  }
  &:active {
    transform: translate(0.5px, 0.5px);
    box-shadow: none;
  }
}
