$color1: rgba(158, 228, 147, 1);
$color2: rgba(218, 247, 220, 1);
$color3: rgba(171, 200, 192, 1);
$color4: rgba(112, 86, 109, 1);
$color5: rgba(66, 39, 59, 1);


$veryDark: $color5;
$dark: $color4;
$medium: $color3;
$lightMedium: $color1;
$light: $color2;


//https://coolors.co/2de1fc-2afc98-09e85e-16c172-214f4b

// Original:

//$veryDark: #293241;
//$dark: #3D5A80;
//$medium: #98C1D9;
//$light: #E0FBFC;
/*https://coolors.co/3d5a80-98c1d9-e0fbfc-ee6c4d-293241*/
//$color1: rgba(61, 90, 128, 1);
//$color2: rgba(152, 193, 217, 1);
//$color3: rgba(224, 251, 252, 1);
//$color4: rgba(238, 108, 77, 1);
//$color5: rgba(41, 50, 65, 1);
