.FilterPanel {
  /*width: 500px;*/
  display: flex;
  padding: 10px; }

.FilterPanel .RandomButton {
  margin-right: 10px; }

.FilterPanel .toggleCompact {
  display: flex;
  background-color: #98C1D9;
  color: #3D5A80;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  transition: 0.25s;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-left: auto;
  font-size: 30px;
  width: 40px;
  height: 35px; }
  .FilterPanel .toggleCompact:hover {
    color: #98C1D9;
    background-color: #3D5A80; }
  .FilterPanel .toggleCompact:active {
    transform: translate(0.5px, 0.5px);
    box-shadow: none; }

.compact .FilterPanel .AddFilter {
  display: none; }
