.FilterPanel {
  /*width: 500px;*/
  display: flex;
  padding: 10px;
}

.FilterPanel .RandomButton {
  margin-right: 10px;
}

.FilterPanel .toggleCompact {
  margin-left: auto;
}

.compact .FilterPanel .AddFilter {
  display: none;
}
