
.RandomButton {
  width: 100px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #98C1D9;
  color: #3D5A80;
  border-radius: 10px;
  transition: 0.25s;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.RandomButton:hover {
  color: #98C1D9;
  background-color: #3D5A80;
}
.RandomButton:active {
  transform: translate(0.5px,0.5px);
  box-shadow: none;
}

/* RGB */
/*$color1: rgba(61, 90, 128, 1);*/
/*$color2: rgba(152, 193, 217, 1);*/
/*$color3: rgba(224, 251, 252, 1);*/
/*$color4: rgba(238, 108, 77, 1);*/
/*$color5: rgba(41, 50, 65, 1);*/
/*https://coolors.co/3d5a80-98c1d9-e0fbfc-ee6c4d-293241*/
