@import 'colors.scss';
@import 'buttons.scss';
@import 'sizes.scss';

.RandomButton {
  display: flex;
  flex-direction: column;
  margin-top: 9px;
  .button {
    @include button
    width: 100px;
    height: 25px;
    margin: 5px 0;
    @media(max-width: $mobileBreakpoint) {
      width: 140px;
    }
  }
}
.compact .RandomButton {
  margin-top: 0;
}

.expanded .RandomButton {
  @media(max-width: $mobileBreakpoint) {
    flex-direction: row;
    justify-content: space-between;
    line-height: 35px;

    .inTheWorld {
      display: none;
    }
  }
}
