@import 'colors.scss';
@import 'buttons.scss';
@import 'sizes.scss';

.RandomButton {
  display: flex;
  flex-direction: column;
  margin-top: 9px;
  .button {
    @include button
    width: 100px;
    height: 25px;
    margin: 5px 0;
    @media(max-width: $mobileBreakpoint) {
      width: 140px;
    }
  }
}
.compact .RandomButton {
  margin-top: 0;
}

.expanded .RandomButton {
  @media(max-width: $mobileBreakpoint) {
    flex-direction: row;
    justify-content: space-between;
    line-height: 35px;

    .inTheWorld {
      display: none;
    }
  }
}


/* RGB */
/*$color1: rgba(61, 90, 128, 1);*/
/*$color2: rgba(152, 193, 217, 1);*/
/*$color3: rgba(224, 251, 252, 1);*/
/*$color4: rgba(238, 108, 77, 1);*/
/*$color5: rgba(41, 50, 65, 1);*/
/*https://coolors.co/3d5a80-98c1d9-e0fbfc-ee6c4d-293241*/
